<div class="view-medical-history-container">
    <div class="view-medical-history-cita-container">
        <h1>Cita Médica: {{medicalHistory.cita.codigoCita}}</h1>
        <p>Fecha: {{medicalHistory.cita.fechaCita | date: 'longDate'}}</p>
        <p>Doctor: {{medicalHistory.cita.doctor.doctor_nombre}} {{medicalHistory.cita.doctor.doctor_apellido_paterno}}</p>
    </div>
    <div class="view-medical-history-diagnostico-container">
        <h2 class="view-medical-history-diagnostico-container-title">Diagnostico</h2>
        <ul class="view-medical-history-diagnostico-container-list">
            <li *ngFor="let diagnostico of medicalHistory.diagnosticos" class="view-medical-history-diagnostico-container-item">
                <h3 class="view-medical-history-diagnostico-container-item-title">{{diagnostico.nombre | titlecase }}</h3>
                <p class="view-medical-history-diagnostico-container-item-information">{{diagnostico.descripcion}}</p>
            </li>
        </ul>
    </div>
    <div class="view-medical-history-prescripcion-container">
        <h2 class="view-medical-history-prescripcion-container-title">Prescripción</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Medicamento</th>
                    <th class="text-center" scope="col">Fecha</th>
                    <th class="text-center" scope="col">Cantidad</th>
                    <th class="text-center" scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prescripcioneMedica of medicalHistory.prescripcionesMedicas" >
                    <td class="text-center">{{prescripcioneMedica.medicamento.nombre}}</td>
                    <td class="text-center">{{prescripcioneMedica.fechaInicio | date: 'longDate'}}</td>
                    <td class="text-center">{{prescripcioneMedica.cantidad}}</td>
                    <td class="text-center">{{prescripcioneMedica.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a (click)="return()" class="btn btn-primary return">Volver</a>
</div>
